html {
    background-color: floralwhite;
    font-size: 160%;
}

h1 {
    font-size: 2.2rem;
    text-shadow: 1px 0px 1px #ccc, 0px 1px 1px #eee,
    2px 1px 1px #ccc, 1px 2px 1px #eee,
    3px 2px 1px #ccc, 2px 3px 1px #eee,
    4px 3px 1px #ccc, 3px 4px 1px #eee,
    5px 4px 1px #ccc, 4px 5px 1px #eee,
    6px 5px 1px #ccc, 5px 6px 1px #eee,
    7px 6px 1px #ccc;
}

button:active {
    outline: none;
}

.slide-container {
    bottom: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
}

.slide {
    height: 400px;
    margin: auto;
    order: 1;
    width: 80%;

    p {
        font-family: sans-serif;
    }
}

.slide-banner,
.slide-buttons {
    // display: none;
    margin: 10px auto;
    order: 2;
    text-align: right;
    width: 80%;
}
