html {
    font-size: 160%;
}

h1 {
    font-size: 2.2rem;
}

button:active {
    outline: none;
}

.slide-container {
    bottom: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
}

.slide {
    height: 400px;
    margin: auto;
    order: 1;
    width: 80%;

    p {
        font-family: sans-serif;
    }
}

.slide-buttons {
    display: none;
    margin: 10px auto;
    order: 2;
    text-align: right;
    width: 80%;
}
