<div class="slide-container">
  <glimmer-slide @title={{title}} @text={{body}} />

    <div class="slide-buttons">
        <button onclick={{action slideBack}}>&#8592;</button>
        <button onclick={{action slideForward}}>&#8594;</button>
    </div>
</div>
